* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.ground {
  background-color: forestgreen;
  /* width: 600px; */
  height: 800px;
  border-radius: 50px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 10rem 0 0 0;
}
body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.holes {
  border-radius: 50%;
  width: 200px;
  height: 50px;
  background-color: rgb(158, 156, 154);
  margin: 2rem;
  position: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 19;
}
.shadow {
  background-color: black;
  position: inherit;
  width: 75%;
  height: 25px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  z-index: 12;
}
.mole {
  height: 80px;
  width: 119px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  background-color: brown;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  top: -76px;
  z-index: -1;
}
.eye {
  background-color: white;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.hide{
  display: none;
}
button{
  font-size: 2rem;
  padding: 12px;
  background-color: rgb(190, 245, 190);
  border-radius: 12px;
  margin: 1rem;
  border: none;
}
.points{
  font-size: 2rem;
  background-color: wheat;
  width: 50px;
  height: 100%;
}
.nav{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: forestgreen;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  padding: 0 1rem;
}
.score{
  background-color: rgb(188, 188, 255);
  font-size: 2rem;
  font-weight: bolder;
}
.timer{
  font-size: 2rem;
}